.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .recResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.recResults .planid, .recResults .benefit, .recResults .issuer, .recResults .network, .recResults .copayoon,
.recResults .coinsoon, .recResults .indvrate, .recResults .grouprate, .headers .header {
  flex: 1 0.5 25%;
}